* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial';
    background: #292929;
}

header {
    background: #03A9F4;
    width: 100%;
    clear: both;
    content: '';
    display: table;
}

.menu {
    width: 900px;
    margin: 0 auto;
}

img {

}

nav {
float: right;
}

nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 12px 0;
    float: left;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;

}


